.BrainhubCarousel__arrows {
    background-color: white;
    border-radius: 90%;
    margin: 20px;
}

.BrainhubCarousel__arrows>span {
    border-color: black;
}

.BrainhubCarousel__arrows:hover {
    background-color: white !important;
}

.BrainhubCarousel__arrows:hover>span {
    border-color: black !important;
}